{% extends "base.html" %}

{% block title %}
Showtime base
{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">This entry will be deleted:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="idDeleteModalBody">
                ...
            </div>
            <form id="confirmDeleteForm" method="GET">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('.delete-confirm').click(function () {
            var desc = $(this).attr('data-desc');
            var url = $(this).attr('data-url');
            $('#idDeleteModalBody').text(desc);
            $('#confirmDeleteForm').attr("action", url);
        });
    });
</script>

<div class="container">
    <table class="table">
        <thead>
            <th scope="col">Id</th>
            <th scope="col">Movie_id</th>
            <th scope="col">Room_id</th>
            <th scope="col">Start time</th>
            <th scope="col">End time</th>
            <th scope="col">Type</th>
            <th scope="col">Language</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
            {% for showtime in showtimes %}
            <tr>
                <th scope="row">{{ showtime.id }}</th>
                <td>{{ showtime.movie_id }}</td>
                <td>{{ showtime.room_id }}</td>
                <td>{{ showtime.start_time }}</td>
                <td>{{ showtime.end_time }}</td>
                <td>{{ showtime.type }}</td>
                <td>{{ showtime.language }}</td>
                <td>
                    <a href="{{ url_for('edit_showtime', showtime_id=showtime.id) }}" class="btn btn-success btn-sm"
                        role="button">Edit...</a>
                    <a type="button" class="btn btn-danger btn-sm delete-confirm" data-bs-toggle="modal"
                        data-bs-target="#confirmDeleteModal" data-desc="{{ 'Delete showtime {}?'.format(showtime.id) }}"
                        data-url="{{ url_for('delete_showtime', showtime_id=showtime.id) }}">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}