{% extends "base.html" %}
{% block title %}
Add new room_section
{% endblock %}


{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col-5 h1">Add new room_section</div>
    </div>
    <form id="user_form" action="{{ url_for('add_new_room_section') }}" method="POST">
        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="room_id">Room id</label></div>
            <div class="col-4">
                <input type="number" id="room_id" name="room_id" value="{{ room_section.room_id }}"
                    class="form-control"><br>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="section_type">Section type</label></div>
            <div class="col-4">
                <input type="text" id="section_type" name="section_type" value="{{ room_section.section_type }}"
                    class="form-control"><br>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="capacity">Capacity</label></div>
            <div class="col-4">
                <input type="number" id="capacity" name="capacity" value="{{ room_section.capacity }}"
                    class="form-control"><br>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="num_rows">Number of rows</label></div>
            <div class="col-4">
                <input type="number" id="num_rows" name="num_rows" value="{{ room_section.num_rows }}"
                    class="form-control"><br>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="seats_per_row">Seats per row</label></div>
            <div class="col-4">
                <input type="number" id="seats_per_row" name="seats_per_row" value="{{ room_section.seats_per_row }}"
                    class="form-control"><br>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="price_multiplier">Price multiplier</label></div>
            <div class="col-4">
                <input type="number" id="price_multiplier" name="price_multiplier"
                    value="{{ room_section.price_multiplier }}" class="form-control"><br>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="start_row">Start row</label></div>
            <div class="col-4">
                <input type="number" id="start_row" name="start_row" value="{{ room_section.start_row }}"
                    class="form-control"><br>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="end_row">End row</label></div>
            <div class="col-4">
                <input type="number" id="end_row" name="end_row" value="{{ room_section.end_row }}"
                    class="form-control"><br>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1 col-form-label"></div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}