<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {{ 'active' if active_menu=='home' }}" aria-current="page"
                    href="http://127.0.0.1:8000/">Home </a>
            </li>
            {% if login and login.is_valid %}
            <li class="nav-item">
                <a class="nav-link {{ 'active' if active_menu=='repertoire' }}" aria-current="page"
                    href="http://127.0.0.1:8002/repertoire">Repertoire</a>
            </li>
            {% endif %}
            {% if login and login.is_admin %}
            <li class="nav-item">
                <a class="nav-link {{ 'active' if active_menu=='movie_base' }}" aria-current="page"
                    href="http://127.0.0.1:8001/movie_base">Movie base</a>
            </li>
            {% endif %}
            {% if login and login.is_admin %}
            <li class="nav-item">
                <a class="nav-link {{ 'active' if active_menu=='add_new_movie' }}" aria-current="page"
                    href="http://127.0.0.1:8001/add_new_movie">Add new movie</a>
            </li>
            {% endif %}
            {% if login and login.is_admin %}
            <li class="nav-item">
                <a class="nav-link {{ 'active' if active_menu=='showtime_base' }}" aria-current="page"
                    href="http://127.0.0.1:8001/showtime_base">Showtime base</a>
            </li>
            {% endif %}
            {% if login and login.is_admin %}
            <li class="nav-item">
                <a class="nav-link {{ 'active' if active_menu=='add_new_showtime' }}" aria-current="page"
                    href="http://127.0.0.1:8001/add_new_showtime">Add new showtime</a>
            </li>
            {% endif %}
            {% if login and login.is_admin %}
            <li class="nav-item">
                <a class="nav-link {{ 'active' if active_menu=='users' }}" aria-current="page"
                    href="http://127.0.0.1:8001/users">Users </a>
            </li>
            {% endif %}
            {% if login and login.is_admin %}
            <li class="nav-item">
                <a class="nav-link {{ 'active' if active_menu=='rooms_base' }}" aria-current="page"
                    href="http://127.0.0.1:8001/rooms">Rooms </a>
            </li>
            {% endif %}
            {% if login and login.is_admin %}
            <li class="nav-item">
                <a class="nav-link {{ 'active' if active_menu=='add_new_room' }}" aria-current="page"
                    href="http://127.0.0.1:8001/add_new_room">Add new room </a>
            </li>
            {% endif %}
            {% if login and login.is_admin %}
            <li class="nav-item">
                <a class="nav-link {{ 'active' if active_menu=='room_section_base' }}" aria-current="page"
                    href="http://127.0.0.1:8001/room_section_base">Room sections </a>
            </li>
            {% endif %}
            {% if login and login.is_admin %}
            <li class="nav-item">
                <a class="nav-link {{ 'active' if active_menu=='add_new_room_section' }}" aria-current="page"
                    href="http://127.0.0.1:8001/add_new_room_section">Add new room section </a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if login and login.is_valid %}
                    <li><a class="dropdown-item {{ 'active' if active_menu=='your_account' }}"
                            href="http://127.0.0.1:8002/your_account/{{ session['user'] }}">Your account</a></li>
                    {% endif %}
                    <li><a class="dropdown-item {{ 'active' if active_menu=='login' }}"
                            href="http://127.0.0.1:8000/login">Login</a></li>
                    <li><a class="dropdown-item" href="http://127.0.0.1:8000/logout" tabindex="-1">Logout {{
                            session['user']
                            if 'user' in session else '' }}</a></li>
                    <li><a class="dropdown-item" href="http://127.0.0.1:8000/register">Register</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>