{% extends "base.html" %}
{% block title %}
Add new showtime
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col-5 h1">Add new showtime</div>
    </div>
    <form id="user_form" action="{{ url_for('add_new_showtime') }}" method="POST">
        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="movie_id">Movie</label></div>
            <div class="col-4">
                <select id="movie_id" name="movie_id" class="form-control">
                    {% for movie in movies %}
                    <option value="{{ movie.id }}">{{ movie.title }}</option>
                    {% endfor %}
                </select><br>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="room_id">Room</label></div>
            <div class="col-4">
                <select id="room_id" name="room_id" class="form-control">
                    {% for room in rooms %}
                    <option value="{{ room.id }}">{{ room.name }}</option>
                    {% endfor %}
                </select><br>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="start_time">Start time</label></div>
            <div class="col-4">
                <input type="text" id="start_time" name="start_time" value="{{ showtime.start_time }}"
                    class="form-control" placeholder="YYYY-MM-DD HH:MM:SS"><br>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="end_time">End time</label></div>
            <div class="col-4">
                <input type="text" id="end_time" name="end_time" value="{{ showtime.end_time }}" class="form-control"
                    placeholder="YYYY-MM-DD HH:MM:SS"><br>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="type">Type</label></div>
            <div class="col-4">
                <input type="text" id="type" name="type" value="{{ showtime.type }}" class="form-control"><br>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="language">Language</label></div>
            <div class="col-4">
                <input type="text" id="language" name="language" value="{{ showtime.language }}"
                    class="form-control"><br>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1 col-form-label"></div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}