{% extends "base.html" %}

{% block title %}
User Account
{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="confirmCancelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">This booking will be cancelled:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="idCancelModalBody">
                ...
            </div>
            <form id="confirmCancelForm" method="POST">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Cancel</button>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('.cancel-confirm').click(function () {
            var desc = $(this).attr('data-desc');
            var url = $(this).attr('data-url');
            $('#idCancelModalBody').text(desc);
            $('#confirmCancelForm').attr("action", url);
        });
    });
</script>

<div class="container mt-4">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3>User Account</h3>
            <a href="{{ url_for('user_app.edit_your_account', user_name=user.name) }}" class="btn btn-primary">Edit your
                account</a>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-4">
                    <strong>Name:</strong>
                </div>
                <div class="col-md-8">
                    {{ user.name }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <strong>Email:</strong>
                </div>
                <div class="col-md-8">
                    {{ user.email }}
                </div>
            </div>
            <!-- Bilety użytkownika -->
            <h4>Your Bookings</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Movie</th>
                        <th>Showtime</th>
                        <th>Seat</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.showtime.movie.title }}</td>
                        <td>{{ booking.showtime.start_time }}</td>
                        <td>Row {{ booking.seat.row_number }}, Seat {{ booking.seat.seat_number }}</td>
                        <td>{{ booking.status }}</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm cancel-confirm" data-bs-toggle="modal"
                                data-bs-target="#confirmCancelModal"
                                data-desc="{{ 'Cancel booking for movie {} at {}?'.format(booking.showtime.movie.title, booking.showtime.start_time) }}"
                                data-url="{{ url_for('user_app.cancel_booking', booking_id=booking.id) }}">
                                Cancel your reservation
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}