{% extends "base.html" %}
{% block title %}
Repertoire
{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <h2>Repertoire of our Cinema</h2>
    <div class="row justify-content-center mt-4">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='diuna.png') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>Dune part 2</strong></h5>
                    <p class="card-text">"Dune: Part Two" charts the impressive journey of Paul Atreides, who forms an
                        alliance with the Chani and the Fremen. At the same time, he embarks on the warpath, blazing a
                        lust for revenge against the conspirators who brought about his family's downfall. Faced with a
                        choice between the love of his life and the fate of the known universe, Paul wants to prevent a
                        tragic future that only he can foresee.</p>
                    <div class="mb-3">
                        <h6><strong>Screening Hours:</strong></h6>
                        <div class="mb-3">
                            <strong>2D</strong>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-outline-primary me-2">12:00</button>
                            <button type="button" class="btn btn-outline-primary me-2">15:00</button>
                            <button type="button" class="btn btn-outline-primary me-2">18:00</button>
                        </div>
                        <div class="mb-3">
                            EN (SUB PL)
                            <hr>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="mb-3">
                            <strong>3D</strong>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-outline-primary me-2">13:00</button>
                            <button type="button" class="btn btn-outline-primary me-2">16:00</button>
                            <button type="button" class="btn btn-outline-primary me-2">19:00</button>
                            <button type="button" class="btn btn-outline-primary me-2">22:00</button>
                        </div>
                        <div class="mb-3">
                            EN (SUB PL)
                            <hr>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="mb-3">
                            <strong>4DX</strong>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-outline-primary me-2">14:00</button>
                            <button type="button" class="btn btn-outline-primary me-2">17:00</button>
                            <button type="button" class="btn btn-outline-primary me-2">20:00</button>
                            <button type="button" class="btn btn-outline-primary me-2">23:00</button>
                            <button type="button" class="btn btn-outline-primary me-2">02:00</button>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-outline-primary me-2">05:00</button>
                        </div>
                        <div class="mb-3">
                            EN (SUB PL)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='diuna1.png') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>Dune part 2</strong></h5>
                    <p class="card-text">An adaptation of Frank Herbert's best-selling novel. A very distant future. The
                        desert planet Arrakis, also known as Dune, is the only place in the universe from where melange
                        is extracted - a precious substance that not only prolongs life, but also allows interstellar
                        travel and glimpses into the future. By order of Emperor Shaddam IV, Dune is given as a fief to
                        the noble family of Atreides. Duke Leto Atreides, Lady Jessica and their son, Paul, arrive on
                        Arrakis. The wicked Harkonnen family, however, is not about to give up the planet so easily to
                        their enemies. For whoever rules Dune, rules the entire universe.</p>
                    <div class="mb-3">
                        <h6><strong>Screening Hours:</strong></h6>
                        <div class="mb-3">
                            <strong>2D</strong>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-outline-primary me-2">12:00</button>
                            <button type="button" class="btn btn-outline-primary me-2">15:00</button>
                            <button type="button" class="btn btn-outline-primary me-2">18:00</button>
                        </div>
                        <div class="mb-3">
                            EN (SUB PL)
                            <hr>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="mb-3">
                            <strong>3D</strong>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-outline-primary me-2">13:00</button>
                            <button type="button" class="btn btn-outline-primary me-2">16:00</button>
                            <button type="button" class="btn btn-outline-primary me-2">19:00</button>
                            <button type="button" class="btn btn-outline-primary me-2">22:00</button>
                        </div>
                        <div class="mb-3">
                            EN (SUB PL)
                            <hr>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="mb-3">
                            <strong>4DX</strong>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-outline-primary me-2">14:00</button>
                            <button type="button" class="btn btn-outline-primary me-2">17:00</button>
                            <button type="button" class="btn btn-outline-primary me-2">20:00</button>
                            <button type="button" class="btn btn-outline-primary me-2">23:00</button>
                            <button type="button" class="btn btn-outline-primary me-2">02:00</button>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-outline-primary me-2">05:00</button>
                        </div>
                        <div class="mb-3">
                            EN (SUB PL)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Możesz skopiować ten blok dla każdego filmu w repertuarze -->
</div>
</div>
{% endblock %}