{% extends "base.html" %}
{% block title %}
Repertoire
{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <h2>Repertoire of our Cinema</h2>
    {% for movie, showtimes in movies_with_showtimes.items() %}
    <div class="row justify-content-center mt-4">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename=movie.photo + '.png') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>{{ movie.title }}</strong></h5>
                    <p class="card-text">{{ movie.description }}</p>
                    <div class="mb-3">
                        <h6><strong>Duration time:</strong></h6>
                        <div class="mb-3">
                            <strong>{{ movie.duration }}</strong>
                        </div>
                        <h6><strong>Screening Hours:</strong></h6>
                        {% for showtime in showtimes %}
                        <div class="mb-3">
                            <strong>{{ showtime.type }}</strong>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-outline-primary me-2"
                                onclick="window.location.href='{{ url_for('bookings', user_id=user_id) }}'">
                                {{ showtime.start_time }}
                            </button>

                        </div>
                        <div class="mb-3">
                            {{ showtime.language }}
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}